.menu {
    background-color: #ffffff66;
    backdrop-filter: blur(20px);
    width: 80%;
    position: fixed;
    top: 5px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    z-index: 10;
    height: 65px;
    overflow: hidden;
}

/*menu bar close and open button*/

.container {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 2.5px;
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


  /*menu bar slider for phones*/
  .sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffffc8;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
    width: 0;
    top: 5px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .sidenav .side-contanier{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    background-color: #ffdee98c;
    background-image: linear-gradient(45deg, #ffdee988 0%, #b5fffd85 100%);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px    ;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/**
.menu-bar .menu-logo{
    width: 50px;
    height: 50px;
    background-color: var(--menu-bar-itme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.menu-bar .menu-logo img{
    width: 100%;
}

.menu-bar .menu-items{
    background-color: rgb(149, 149, 149);
}

.menu-bar .menu-items ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.menu-bar .menu-items li{
    background-color: rgb(200, 200, 200);
}**/

.menu-logo {
    align-self: center;
    margin-left: 5px;
    background-color: rgba(221, 221, 221, 0.3);
    position: absolute;
    display: inline-flex;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
    align-items: center;
    justify-content: center;
}

.menu-logo:hover {
    background-color: rgba(220, 220, 220, 0.526);
}

.menu-logo img {
    width: 50px;
    margin-top: -1px;
    margin-bottom: -1px;
    align-self: center;
}

.menu ul {
    list-style-type: none;
    display: inline-flex;
    margin: 5px;
    margin-left: 20px;

}

.menu li {
    margin-left: 7px;
    margin-right: 7px;
    padding: 13px;
    cursor: pointer;
    border-radius: 10px;
    font-family: var(--normal-txt);
    font-size: 15px;
    transition-duration: 1s;
}

.menu li:hover {
    background-color: rgba(234, 234, 234, 0.414);
}

.menu .drop-down {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.menu .drop-down img {
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 5px;
}

.menu .space {
    width: inherit;
}

.menu .menu-f-icons {
    margin: 9px;
    display: inline-flex;
}

.menu .menu-f-icons .f-icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition-duration: 1s;
}

.menu .menu-f-icons .f-icon:hover {
    background-color: rgba(234, 234, 234, 0.414);
}

.menu .menu-f-icons .f-icon img {
    width: 25px;
}

/**
.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    display: block;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}**/

.profile img{
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .menu{
        width: 90%;
    }

    /* hide menu-list and menu-f-icons */
    .menu-list,
    .menu-f-icons {
      display: none;
    }
  
    /* display menu bar icon */
    .container {
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      cursor: pointer;
      align-self: center;
      position: absolute;
      left: 7px;
    }

    .menu-logo {
        align-self: center;
        margin-left: 44px;
        background-color: rgba(221, 221, 221, 0.3);
        position: absolute;
        display: inline-flex;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 1s;
        align-items: center;
        justify-content: center;
    }
  }
  .sidenav {
    display: block;
  }
  