body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Sans-serif', Arial;
    flex-direction: column;
    width: 100%;
}

/* Add a tooltip to any element with a title attribute */
*[title] {
    position: relative; /* Set the parent element as a reference for positioning */
  }
  
  /* Style the tooltip text */
  [title]::after {
    content: attr(title); /* Get the content of the title attribute */
    background-color: rgba(253, 253, 253, 0.549); /* Set the background color */
    backdrop-filter: blur(5px);
    padding: 15px;
    color: rgb(0, 0, 0); /* Set the text color */
    padding: 5px; /* Add padding around the text */
    border-radius: 5px; /* Add rounded corners */
    position: absolute; /* Position the tooltip absolutely */
    top: 100%; /* Position the tooltip below the parent element */
    left: 50%; /* Position the tooltip centered horizontally */
    transform: translateX(-50%); /* Move the tooltip to the left by half of its width */
    visibility: hidden; /* Hide the tooltip by default */
    opacity: 0; /* Hide the tooltip by default */
    transition: visibility 0s, opacity 0.2s ease-in-out; /* Add a transition effect */
  }
  
  /* Show the tooltip on hover */
  [title]:hover::after {
    visibility: visible; /* Show the tooltip */
    opacity: 1; /* Show the tooltip */
  }
  

.cur-poi{
    cursor: pointer;
}

.main-body {
    width: 100%;
}

.article-container{
    padding: 20px;
    border-radius: 20px;
}

.article-thumbnail{
    position: relative;
}

.article-thumbnail-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.article-thumbnail-img img{
    width: 100%;
    transition-duration: 1s;
}

/* .article-thumbnail:hover .article-thumbnail-img img{
    transform: scale(1.1);
} */

.article-thumbnail-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffffb8;
    backdrop-filter: blur(15px);
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    /* cursor: pointer; */
}

.author-description{
    position: absolute;
    display: inline-flex;
    background-color: #ffffff7d;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-50%);
    left: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.author-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.author-profile-picture img{
    width: 50px;
    height: 50px;
}

.author-name_date{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-description .author-name{
    font-size: 18px;
    font-weight: bold;
}

.author-description .date{
    font-size: 10px;
}

.change-article-thumbnail-img{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #ffffffa7;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-discription{
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    line-height: 1.5;
}

.article-body{
    margin-top: 50px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.code-style-1{
    background-color: #e0e0e0;
    padding-top: 3px;    
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

p{
    padding-left: 10px;
}

.p-note{
    border-left: 5px solid rgb(255, 175, 69);
    border-radius: 5px 0 0 5px;
}

.p-note span.p-note-span::before {
    content: url(images/svg/warning-outline.svg);
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

a{
    color: black;
}

a::after {
    content: url(images/svg/open-outline\ \(1\).svg);
    padding-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
} 

/* img {
    width: 90%;
    align-self: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

ol, ul{
    line-height: 1.7;
}

ol img{
    margin-top: 10px;
    margin-bottom: 10px;
}